###### lines below this line must be placed at the top of the file
unittest/**/test_*
unittest/**/*_test
unittest/**/**/test_*
unittest/**/**/*_test
unittest/**/unittest_*
unittest/obproxy/foo_client
unittest/obproxy/foo_server
!unittest/**/test_*.*
!unittest/**/**/test_*.*
!unittest/**/unittest_*.*
###### lines above this line must be placed at the top of the file
tools/deploy/obperf
tools/deploy/sysbench
tools/deploy/bin
tools/deploy/bin/*
tools/deploy/lib
tools/deploy/tools
.configured
Makefile.in
Makefile.d
Makefile
aclocal.m4
autom4te.cache/
build/
build
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
compile
.libs
*.bak
*.o
*.a
*.la
*.lo
*.pyc
*.log
*.log.wf
.deps*
*.gcno
*.gcda
*.orig
*.swn
*checker
Makefile.in
Makefile
*.gcov
*my
paratest*
tags
TAGS
.clang_complete
src/election/election
src/election/election_admin
src/lib/regex/regex/re
src/lib/regex/strings/conf_to_src
src/sql/parser/*.output
src/observer/observer
src/observer/*:*
src/obproxy/iocore/eventsystem/test_event
src/obproxy/iocore/net/test_net
src/obproxy/obproxy
src/obproxy/opsql/*.output
src/client/*
coverage/
doc/**/*.html
!doc/*/Makefile
tools/deploy/config*.py
tools/deploy/lib/
tools/deploy/nohup*
tools/deploy/mytest.log*
tools/deploy/mysql_test/r/*.reject
tools/deploy/syschecker/gen_sstable.conf
tools/deploy/syschecker/gen_sstable.schema
src/sql/parser/expr_parser.output
src/sql/parser/sql_parser.output
unittest/sql/executor/rpc_remote_scheduler
unittest/sql/executor/stress_interm_result_manager
unittest/sql/executor/stress_scanner_pool
*~
cscope.*
build_version.c
build_version.cpp
BROWSE
ltmain.sh
missing
*.patch
svn_dist_version
GPATH
GRTAGS
GTAGS
coverage.zip
app.info
.review/
.configured
observer.log*
launch_bootstrap
major_freeze
*.pyc
tools/deploy/bin/
tools/deploy/mysql_test/r/*.reject
tools/deploy/list
tools/storage_perf/storage_perf
unittest/clog/deploy/log_tool
unittest/clog/deploy/ob_server_main
unittest/clog/deploy/post_msg_main
obproxy_config.bin
obproxy.*
*.tmp
*.temp.*
.project
.cproject
/.settings/
.pydevproject
ncscope.out
*.swp
.dep_create/
multiplog_*
src/lib/oberror
src/liboblog/tests/oblog_tailf
.ob-pretest.result
*.run.*
*.reject
unittest/sql/engine/expr/arithmatic.out
unittest/sql/engine/expr/*_test
unittest/sql/engine/*/test_*
unittest/storage/blocksstable/query_speed_tool
unittest/storage/exception_transaction/ob_exception_transaction
unittest/storage/storage_bench
unittest/rpc/rpc_bench
unittest/storage/tmp
unittest/storage/sstable
unittest/storage/libnone.so
unittest/storage/blocksstable/clog/
unittest/storage/blocksstable/libnone.so
unittest/storage/blocksstable/ob_test_data_file
unittest/storage/blocksstable/redo_log_test/
unittest/storage/blocksstable/scanner/
unittest/obproxy/*checker
unittest/obproxy/failed.result
unittest/obproxy/failed.sql
unittest/obproxy/.conf/
unittest/obproxy/etc/
unittest/common/kv_storecache
unittest/common/small_allocator
unittest/lib/*.log*
unittest/obproxy/foo_client
unittest/obproxy/foo_server
.dirstamp
svn_version.c
tools/deploy/collected_log/
tools/deploy/config1.py
unittest/sql/optimizer/cost_model_util
unittest/sql/resolver/ddl_resolver
tools/storage_test/storagetest
tools/log_parser/slog_parser
tools/log_tool/log_statistics
tools/log_tool/log_tool
tools/ob_admin/ob_admin
tools/omtest/client
tools/omtest/omtest
tools/trace/trace_tool
unittest/storage/transaction/performance
tools/log_tool/logtool
unittest/lib/hash.data
Build (GNU)
tools/deploy/avg_rt_*
tools/deploy/focus_*
!src/rpc/easy/**
.idea/*
src/.idea/*
src/cmake-build-debug/*
CMakeLists.txt
*.gz
obproxy-tmp*
.DS_Store
src/.DS_Store
unittest/.DS_Store
ob_proxy_parser.output
.vscode/*
rpm/.dep_create
deps/3rd/home
deps/3rd/var
deps/3rd/usr
deps/3rd/pkg
.ccls-cache
src/compile_commands.json
compile_commands.json
.cache
